.container {
  padding: 20px;
}
mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  padding: 16px;
  border: none;
  background-color: #ad1fea;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 24px;
  text-align: center;
}
mat-icon {
  cursor: pointer;
}
mat-spinner{
  margin: 0 auto;
}
