* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #f2f2f2;
}
body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

button {
  cursor: pointer;
}
button:disabled {
  background-color: #bcbbbb !important;
  cursor: not-allowed;
}
.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab {
  font-weight: 600;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 0;
}
.mat-mdc-form-field {
  margin-top: 24px;
}
.error {
  color: #f44336;
}
